.key-number{
    width: 640px;
height: 264px;
flex-shrink: 0;

border-radius: 4px;
background: #FFF;
/* display: flex;
align-items: center; */
margin-top: 180px;
position: relative;

}

#bgcolor{
    background-color: black;

}

.header{
display: flex;
justify-content: center;

}

.text h3{
    display: flex;
width: 256px;
height: 24px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;

color: #000;
text-align: center;
font-family: Sora;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-left: 192px;
margin-top: 40px;
}

.button-num p{
    color: #000;
font-family: Sora;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

display: flex;
width: 198px;
height: 16px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
    margin-left: 16px;
    margin-right: 426px;
    margin-bottom: 8px;
}

.button-num input{
    width: 608px;
height: 48px;
flex-shrink: 0;

border-radius: 4px;
border: 0.5px solid #DADADA;
margin-left: 16px;
}

.button-num button{
    width: 384px;
height: 48px;
flex-shrink: 0;

border-radius: 4px;
background: #232529;

margin-left: 128px;
margin-top: 16px;

color: white;
}

.button-num a{
    text-decoration: none;
    color: white;
}

/* другой сайт */

.product-card{
    width: 400px;
    border: 1px solid orange;
    padding: 15px;
    
}

.img{
    width: 100%;
    
}

.name, .price{
    text-align: center;
}

.btn{
    width: 100%;
    padding: 14px 0;
    background-color: orange;
    color: white;
    border: none;
    transition-duration: 2s, 6s;
    transition-property: background-color, border-radius;
    transition-delay: 3s;


}

.btn:hover{
    cursor: pointer;
    background-color: #966f28;
    border-radius: 20px;
}
/* body{
    display: flex;
    justify-content: center;
} */

.cont{
    width: 650px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont-btn{
    padding: 10px 0;
    width: 150px;
}

.cont:hover .cont-btn{
    width: 100%;
}

.ease{
    transition-timing-function: ease;

}

.ease-out{
    transition-timing-function: ease-out;

}

.ease-in-out{
    transition-timing-function: ease-in-out;
}

.linear{
    transition-timing-function: linear;
}